---
return Astro.redirect("/queendom/download/");
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content="0;url=/queendom/download/">
  <link rel="canonical" href="/queendom/download/">
  <script>
    window.location.replace("/queendom/download/");
  </script>
</head>
<body>
  <p>Redirecting you to the new download page. If you are not redirected, <a href="/queendom/download/">click here</a>.</p>
</body>
</html>
